.calculator-framework {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(6,100px);
}

.display-output {
    grid-column-start: 1; 
    grid-column-end: 5;
    background-color: black;
    color: white;
    pointer-events: none;
    grid-auto-rows: minmax(100px, auto);
    text-align: right;
    font-size: 70px;
}

.big-buttons {
    grid-column: span 2;
}

.calculator-framework > button {
    font: bold 15px arial, sans-serif;
    cursor: pointer;
    font-size: 7mm;
    border-color:white;
    background-color: whitesmoke; 
    outline: none;
}

.calculator-framework :hover {
    background-color: darkgray;
}

body{
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, steelblue, #F5FFFA);
}